@model Product


<h1 class="display-test">@Model.Slug</h1>

<div class="card  ">

<div class="card-body">

<h3>@Model.Name</h3>
<p>@Model.Description</p>
<h5><strong>Price:</strong>@Model.Price</h5>
<span>Created At : @Model.CreatedAt</span>

</div>



</div>

